<!DOCTYPE html>
<html>
	<head>
		<title>John Shammas: Creative Leader and Strategist</title>
		<meta
			name="description"
			content="I use design and software to help teams solve complex business, sales, and financial problems."
		/>
	</head>
	<body>
		<div class="container">
			<%- require("./partials/header.ejs")() %>
			<main>
				<%- require("./partials/hero.ejs")() %>
				<%- require("./partials/role.ejs")() %>
				<%- require("./partials/bio.ejs")() %>
				<%- require("./partials/countries.ejs")() %>
			</main>
		</div>
	</body>
</html>
